{% extends 'base.html.twig' %}

{% block title %} CGV{% endblock %}

{% block body %}
    <nav class="mx-[5%] md:mx-[5%] my-5 flex justify-between items-center">
        <h1 class="text-6xl underline">Conditions Générales de Vente (CGV)</h1>
        <a href="{{path('app_main')}}" class="link-menu flex">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-1 mb-1">
                <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
            </svg>
            Retour à l'accueil
        </a>
    </nav>
    <section class="m-[5%] md:mx-[5%] md:my-[2%] border p-5 h-[48rem] overflow-auto">
        <div class="my-5">
            <h2 class="text-2xl font-semibold">1. PARTIES DU CONTRAT</h2>
            <p>
                Le terme "Client" désigne toute personne morale ou physique, ayant requis les compétences professionnelles de Lisa Muller en qualité de
                Graphiste/Webdesigner indépendante. Le terme "Tiers" désigne toute personne physique ou morale non partie au contrat. Le terme "Prestataire"
                désigne l’entreprise individuelle Lisa Muller dont le siège social est 25 rue de Masevaux 90110 Rougemnt le Château, immatriculée à l'URSSAF de
                Besançon (25) sous le numéro siret : 95407870500017.
            </p>
        </div>

        <div class="my-5">
            <h2 class="text-2xl font-semibold">2. GÉNÉRALITÉS</h2>
            <p>
                Les présentes conditions générales de vente ont pour objet de définir les droits et obligations des parties lors de toutes commandes passées par
                un Client auprès de l’entreprise individuelle Lisa Muller dans le cadre de son activité commerciale de création et de conception graphique, et cela
                par tous les moyens mis à sa disposition (courrier, fax, téléphone, email, etc). Le Prestataire se réserve le droit de modifier ses conditions générales
                de vente, ses formules et ses tarifs à tout moment et sans préavis. Ces modifications n'auront aucune incidence sur les commandes en cours.
                Le Client faisant appel aux services de Lisa Muller reconnaît avoir pris connaissance des capacités artistiques et techniques du Prestataire avant
                de solliciter son intervention et accepte sans réserve les conditions générales de vente suivantes, ainsi que les mises en garde énoncées dans
                l'Extrait de la loi n° 57-298 du 11 mars 1957 sur la propriété artistique (J.O. du 14 mars 1957) des droits des auteurs concernant les lois de la
                propriété intellectuelle. Pour ce faire le Client apposera lors de la commande sa signature précédée de la mention manuscrite "lu et approuvé" au
                bas du présent document. Toute commande ou devis signé entraîne l’acceptation entière et sans réserve de la part du Client des présentes
                conditions générales de vente ainsi que du cahier des charges (joint au devis le cas échéant).
                La prestation comprend tout ce qui est explicitement listé dans le champ « Nature de la prestation ». De façon corollaire, elle ne comprend pas ce
                qui n’est pas explicité dans ce même champ.
            </p>
        </div>

        <div class="my-5">
            <h2 class="text-2xl font-semibold">3. RESPONSABILITÉ DU CLIENT</h2>
            <p>
                Afin de permettre ces réalisations dans les meilleures conditions, le Client s'engage à fournir des informations justes et sincères et s'engage à
                prévenir le Prestataire de tout changement concernant les données fournies et sera seul responsable des éventuels dysfonctionnements qui
                pourraient résulter d'informations erronées. Le Client doit maintenir une adresse e-mail et une adresse postale valides.
            </p>
        </div>

        <div class="my-5">
            <h2 class="text-2xl font-semibold">4. ENGAGEMENTS DES PARTIES</h2>
            <p>
                D’une façon générale, le Client et le Prestataire s’engagent à collaborer activement afin d’assurer la bonne exécution du contrat. Chacun s’engage
                à communiquer toutes les difficultés dont il aurait connaissance au fur et à mesure dans l'avancement du projet, pour permettre à l’autre partie de
                prendre les mesures nécessaires.
            </p>
            <div class="my-5">
                <h3 class="text-xl font-medium">A/ LE CLIENT</h3>
                <p class="text-lg">Pour permettre au Prestataire de réaliser sa mission, le Client s’engage à :</p>
                <ul>
                    <li class="list-disc list-inside">
                        Établir un cahier des charges le plus précis possible détaillant la nature et l’environnement de la commande à réaliser, et qui ne subira plus de
                        modification, sauf accord des parties, après avoir été approuvé par le Prestataire.
                    </li>
                    <li class="list-disc list-inside">
                        Remettre au Prestataire le bon de commande/devis (daté, signé et tamponné)
                    </li>
                    <li class="list-disc list-inside">
                        Fournir tous les éléments documentaires, graphiques et textuels nécessaires à la bonne réalisation du contrat, (notamment dans les bons formats
                        exploitables en fonction des supports visés) et toutes les informations légales à ajouter dans les documents. Le Client endosse la responsabilité de
                        fournir le contenu des documents qu'il édite.
                    </li>
                    <li class="list-disc list-inside">
                        Être titulaire des droits de propriété intellectuelle nécessaires portant sur l’ensemble des éléments ci-dessus transmis au Prestataire. La
                        recherche d’antériorité des noms et des créations est à la charge du Client et reste sa responsabilité. Seule la responsabilité du commanditaire
                        pourra être engagée à ce titre.
                    </li>
                    <li class="list-disc list-inside">
                        Collaborer activement à la réussite du projet en apportant au Prestataire dans les délais utiles toutes les informations et documents nécessaires
                        à la bonne appréhension des besoins et à la bonne exécution des prestations.
                    </li>
                    <li class="list-disc list-inside">
                        Se conformer strictement aux préconisations techniques et créatives faites par le Prestataire.
                    </li>
                    <li class="list-disc list-inside">
                        Garantir le Prestataire contre toute action qui pourrait lui être intentée du fait du caractère des données ou informations (textes, images, sons)
                        qui auraient été fournies ou choisies par le Client.
                    </li>
                    <li class="list-disc list-inside">
                        Régler dans les délais précis les sommes dues au Prestataire.
                    </li>
                    <li class="list-disc list-inside">
                        Informer le Prestataire d’une éventuelle mise en concurrence avec d’autres Prestataire (Graphistes, Webdesigners).
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="text-xl font-medium">B/ LE PRESTATAIRE</h3>
                <ul>
                    <li class="list-disc list-inside">
                        Au besoin le Prestataire pourra intervenir dans l’élaboration du cahier des charges, conjointement avec le Client.
                    </li>
                    <li class="list-disc list-inside">
                        Le Prestataire garantit que les créations sont juridiquement disponibles et ne sont pas grevées de droit des tiers, salariés ou non du Prestataire,
                        pour les utilisations prévues au titre du contrat.
                    </li>
                    <li class="list-disc list-inside">
                        Le Prestataire s’engage à informer de manière régulière et efficace le Client de l’avancée de la réalisation du projet et ce, notamment, au travers
                        de validations soumises au Client.
                    </li>
                    <li class="list-disc list-inside">
                        Au titre de la confidentialité et pendant toute la durée des présentes et même après leur cessation pour quelque cause que ce soit, le Prestataire
                        s’engage à conserver strictement confidentiel l’ensemble des informations et documents de quelque nature que ce soit relatifs au Client, auxquels
                        il aurait pu avoir accès dans le cadre notamment de l’exécution de la présente mission.
                    </li>
                </ul>
            </div>
        </div>

        <div class="my-5">
            <h2 class="text-2xl font-semibold">5. FRAIS ANNEXES</h2>
            <p>
                Les frais techniques et éléments divers éventuellement nécessaires à la réalisation des prestations du Prestataire et ne relevant pas de ses offres ne sont pas compris dans les prix indiqués. Il s’agit par exemple des polices typographiques, des photographies ou illustrations issues de banques d’images, des Cromalins, frais de gravure ou d'impression.
                Dans le cas où des modifications, ajout ou suppression de donnée, demandées par le client en cours de réalisation - et faisant état d’une omission,
                ou d’une erreur de sa part - impliqueraient un remaniement substantiel du cahier des charges initial (corrections d’auteur), ou induisant un travail supplémentaire, ces dernières seront facturées en sus du devis initial. Les sommes correspondantes au travail déjà effectué par le Prestataire sont dues par la société cliente et immédiatement exigibles.
                Sous réserve de l’accord du Prestataire, un honoraire d’urgence supplémentaire (majoration de 50% du tarif journalier) sera facturé pour les prestations exécutées à la demande de la société cliente pendant les samedis, dimanches, jours fériés, ou la nuit
                (soit entre 20h et 9h le lendemain matin), ou en cas de traitement de la commande prioritairement aux autres commandes en cours de réalisation par le Prestataire.
            </p>
        </div>

        <div class="my-5">
            <h2 class="text-2xl font-semibold">6. BON DE COMMANDE ET DÉBUT DES TRAVAUX</h2>
            <p>
                Le devis et les CGV (conditions générales de vente) signés par le Client valent exclusivement ensemble pour acceptation de ces derniers et font office de bon de commande. Les devis émis par le Prestataire sont valables à la date de leur établissement et pour une durée de trente jours. Ils sont susceptibles d’être révisés notamment en fonction de l’évolution du cahier des charges. Celui-ci doit s’accompagner du paiement de 40% du prix global des prestations à fournir. Les travaux débuteront lorsque tous les documents (devis et CGV signés, 40% du montant global payé) et
                éléments documentaires graphiques et textuels nécessaires à la bonne réalisation du contrat, seront à la disposition du Prestataire.
                Le délai de réalisation de la commande est défini dans le cahier des charges joint au devis et signé par le Client. À défaut, le délai maximum de réalisation par le Prestataire de la commande passée par un Client agissant en qualité de consommateur et validée est fixé à cinq (5) mois.
            </p>
        </div>

        <div class="my-5">
            <h2 class="text-2xl font-semibold">7. VALIDATIONS</h2>
            <div>
                <h3 class="text-xl font-medium">7-1</h3>
                <p> 
                    Après la (ou les) phase(s) de création du projet, le Client s'engage à transmettre au Prestataire ses validations de manière claire et explicite par
                    l'envoi d'un email ou d'un courrier daté et signé à Lisa Muller. Il est convenu entre les deux parties que la prise en considération de demande(s) de
                    modification faites par d’autres moyens, notamment oralement, sont laissées à la convenance du Prestataire.
                </p>
            </div>
            <div>
                <h3 class="text-xl font-medium">7-2</h3>
                <p> 
                    À défaut d'une validation ou d'une demande de modification des maquettes par le client dans un délai de quinze jours, 
                    celles-ci seront considérées comme validées par les deux parties. Le travail réalisé, livré et tacitement validé, 
                    implique que les sommes correspondantes à ce travail sont dues.
                </p>
            </div>
            <div>
                <h3 class="text-xl font-medium">7-3</h3>
                <p> 
                    Les moyens de visualisation des maquettes avant leur départ en impression étant nombreux et ne répondant pas aux mêmes normes, le Prestataire ne pourra pas être tenu responsable des éventuelles différences entre une visualisation informatique et le résultat final des produits.
                    La restitution des couleurs ne peut être garantie à l’identique entre l’outil informatique et la chaîne de fabrication des partenaires du Prestataire.
                    Les couleurs visibles sur un écran (quel qu’il soit) ne sont pas contractuelles et ne seront en aucun cas celles restituées sur les différents supports proposés (il en est de même pour les impressions réalisées sur une imprimante).
                </p>
            </div>
        </div>

        <div>
            <h2 class="text-2xl font-semibold">8. FACTURE ET RÈGLEMENT</h2>
            <p>
                Sauf délai de paiement supplémentaire clairement accordé, le règlement de la facture est dû à la date de livraison ou au maximum 30 jours après l'émission de celle-ci. Le paiement s'effectue par virement bancaire à l'ordre de Lisa Muller. En cas de retard, des pénalités seront exigibles sans qu'un rappel soit nécessaire conformément à la loi.
                Ces pénalités s'élèvent à 2% du montant total de la facture par jour de retard. le calcul des pénalités commencera le deuxième jour ouvrable après la date de règlement indiquée sur les factures. Le calcul prendra fin le jour de la réception du règlement. En cas de non-paiement, le client prendra en charge tous les frais de recouvrement.
            </p>
        </div>

        <div class="my-5">
            <h2 class="text-2xl font-semibold">9. ACOMPTE ET ANNULATION DE COMMANDE</h2>
            <p>
                En cas de rupture du contrat avant son terme par le Client, celui-ci s’engage formellement à régulariser et rétribuer les montants relatifs au
                calendrier en cours, aux postes réalisés ou en cours de réalisation, ainsi qu’aux services complémentaires effectués. 
                L’ensemble des droits d’auteur restent la propriété exclusive et entière du Prestataire, à l’exception des données fournies par le Client. 
                Les fichiers et données sources crées et utilisées par le Prestataire ne sauraient dès lors être revendiquées par le Client sans une contribution financière. 
                Les maquettes, et plus largement, toutes les œuvres originales, restent la propriété du Prestataire, de même que les projets refusés. 
                L’acompte déjà versé restera acquis par le Prestataire, constituant un dédommagement pour le travail entrepris.
            </p>
        </div>

        <div class="my-5">
            <h2 class="text-2xl font-semibold">10. LIEU DE TRAVAIL ET DÉPLACEMENTS</h2>
            <p>
                Sauf accord écrit entre le Prestataire et la société cliente, le Prestataire se réserve le droit d’assurer sa mission en dehors des locaux de la société cliente et de choisir le lieu où il la réalisera. 
                La société cliente, si elle peut le proposer, s’engage à ne pas imposer au Prestataire une présence physique ou un déplacement dans quelque endroit, ceci quelle que soit la phase ou l’avancée de la mission. 
                En cas de travail en régie, d’ordre ponctuel ou non, la société cliente s’engage à mettre tout matériel, fourniture et infrastructure à la disposition du Prestataire si la réalisation de la mission l’exige.
            </p>
        </div>

        <div class="my-5">
            <h2 class="text-2xl font-semibold">11. INCAPACITÉ DE TRAVAIL</h2>
            <p>
                En cas d’incapacité de travail, par suite de maladie ou d’accident, le Prestataire se réserve le droit modifier le calendrier en cours sans qu’il ne puisse être exigé par le Client le versement d’indemnités. 
                Il est admis que le Prestataire se doit d’avertir le Client dès le premier jour ouvrable de son incapacité.
            </p>
        </div>

        <div class="my-5">
            <h2 class="text-2xl font-semibold">12. LA FORCE MAJEURE</h2>
            <p>
                Les parties ne peuvent être considérées comme responsables ou ayant faillies à leurs obligations contractuelles, lorsque le défaut d'exécution des obligations respectives a pour origine la force majeure ; 
                le contrat entre les parties est suspendu jusqu'à l'extinction des causes ayant engendrées la force majeure. 
                La force majeure prend en compte des faits ou circonstances irrésistibles, extérieurs aux parties, imprévisibles et indépendants de la volonté des parties, malgré tous les efforts raisonnablement possibles pour les empêcher. 
                Sont aussi considérés comme cas de force majeure, le blocage des moyens de transports ou d'approvisionnements, tremblements de terre, incendies, tempêtes, inondations, foudre, l'arrêt des réseaux de télécommunication, et notamment tous les réseaux accessibles par Internet, ou difficultés propres aux réseaux de télécommunication extérieurs aux parties. 
                La partie touchée par la force majeure en avisera l'autre dans les cinq (5) jours ouvrables suivant la date à laquelle elle en aura eu connaissance. Les deux parties conviendront alors des conditions dans lesquelles l'exécution du contrat sera poursuivie.
            </p>
        </div>

        <div class="my-5">
            <h2 class="text-2xl font-semibold">13. RÈGLEMENT DES LITIGES</h2>
            <p>
                Le contrat est soumis au droit Français. 
                Toute contestation ou litige portant sur l’interprétation ou l’exécution du présent contrat sera porté, à défaut d’un accord amiable entre les parties, devant les tribunaux compétents de Belfort, à qui elles attribuent expressément juridiction.
            </p>
        </div>

        <div class="my-5">
            <h2 class="text-2xl font-semibold">14. PROPRIÉTÉS DES TRAVAUX RÉALISÉS</h2>
            <p>
                La totalité de la production et des droits s’y rapportant, objet de la commande, demeure la propriété entière et exclusive du Prestataire tant que les factures émises ne sont pas payées en totalité par le Client. 
                De façon corollaire, le Client deviendra propriétaire de fait de la production et des droits cédés à compter du règlement final et soldant de toutes les factures émises par le Prestataire dans le cadre de la commande. 
                Sauf mention contraire figurant sur le devis, les fichiers de production et les sources restent la propriété du Prestataire. 
                Seul le produit fini sera adressé au Client. L’auteur n’a pas l’obligation de mettre à disposition du Client les fichiers sources mais seulement le résultat de son travail sous une forme exploitable par des professionnels du secteur concerné. 
                A défaut d’une telle mention et si le Client désire avoir les sources des documents, un avenant à ce présent document devra être demandé. Les travaux réalisés par le Prestataire, en particulier les études préalables, restent confidentiels et ne peuvent en aucun cas être transmis par le Client à une personne tierce sans accord préalable.
            </p>
        </div>

        <div class="my-5">
            <h2 class="text-2xl font-semibold">15. PRINCIPES DE CESSION</h2>
            <p>
                Conformément au CPI (articles L. 121-1 à L. 121-9), il est rappelé que le droit moral d’une création (comprenant entre autres droit au respect de l’œuvre et droit au respect du nom) reste attaché à son auteur de manière perpétuelle et imprescriptible. 
                De fait, ne seront cédés à la société cliente que les droits patrimoniaux explicitement énoncés sur la présente commande, à l’exclusion de tout autre, et ce dans les éventuelles limites y figurant également (limite de support, de territoire ou de durée).
                Toute représentation ou reproduction intégrale ou partielle faite sans le consentement de l’auteur ou de ses ayants droit est illicite, et punie selon les lois relatives au délit de contrefaçon. 
                Il en est de même pour la traduction, l’adaptation ou la transformation, l’arrangement ou la reproduction par un art ou un procédé quelconque (art. L. 122-4 du CPI).
            </p>
        </div>

        <div class="my-5">
            <h2 class="text-2xl font-semibold">16. DROITS DE REPRODUCTION ET DE DIFFUSION</h2>
            <p>
                Les droits de reproduction et de diffusion sont calculés en fonction de la diffusion de la création. Ils peuvent être cédés forfaitairement ou partiellement.
                Chaque adaptation différente de l’œuvre originale faisant l’objet d’une nouvelle cession de droits d’auteur. 
                Pour chaque nouvelle édition, le montant des droits doit être réactualisé. Les droits sont cédés dans le périmètre temporel et géographique du présent contrat et ne
                sauraient en excéder cette limite. Pour permettre au commanditaire d’exploiter librement la prestation fournie dans le cadre de son activité,
                l’ensemble des droits patrimoniaux relatifs à la création du Prestataire, au titre du projet seront entièrement et exclusivement cédés au
                commanditaire, et ce pour la diffusion sur les supports spécifiquement adressés lors de la commande, lors du paiement effectif de l’intégralité des
                honoraires dus.
            </p>
        </div>

        <div class="my-5">
            <h2 class="text-2xl font-semibold">17. COPYRIGHT ET MENTION COMMERCIALE</h2>
            <p>
                Sauf mention contraire explicite du Client, le Prestataire se réserve la possibilité d’inclure dans la réalisation une mention commerciale indiquant clairement sa contribution, telle la formule "Design par LisaVizuals Graphiste/Webdesigner Freelance" assortie lorsque le support le permet d’un lien hypertexte pointant vers le site commercial de son activité(<a href="{{path('app_main')}}" target="_blank">https://lisavizuals.com/</a>). 
                La société cliente s’engage à ne pas s’y opposer, et à ne jamais supprimer ces informations.
            </p>
        </div>

        <div class="my-5">
            <h2 class="text-2xl font-semibold">18. DROIT DE PUBLICITÉ</h2>
            <p>
                Le Prestataire se réserve le droit de mentionner publiquement les réalisations effectuées pour le Client de la présenter en référence dans le cadre
                de ses démarches de prospection commerciale, de communication externe, de publicité, et la société cliente s’engage à ne jamais s’y opposer.
            </p>
        </div>

        <div class="my-5">
            <h2 class="text-2xl font-semibold">19. RENOUVELLEMENT ET PAIEMENT DU NOM DE DOMAINE ET HEBERGEMENT</h2>
            <p>
                Le Client reconnaît et accepte que le nom de domaine et l'hébergement associé à son site internet doivent être renouvelés sur une base annuelle pour assurer la continuité de son service en ligne.
                Le Prestataire assume la responsabilité du paiement annuel du nom de domaine et de l'hébergement associé au site internet du Client, garantissant ainsi la continuité du service en ligne sans interruption.
                Afin de faciliter la gestion du renouvellement, le Prestataire informera le Client environ un (1) mois avant la date de renouvellement du nom de domaine et de l'hébergement, par courrier électronique, téléphone, ou tout autre moyen de communication préalablement convenu entre les parties. Cette communication inclura un détail des coûts à engager pour le renouvellement annuel. Il est de la responsabilité du Client de s'acquitter des frais relatifs au renouvellement du nom de domaine et de l'hébergement auprès du Prestataire avant la date de renouvellement. Le Prestataire fournira au Client les modalités de paiement et les détails nécessaires à la réalisation de ce paiement.
                En cas de non-paiement ou de retard de paiement attribuable au Client, le Prestataire se réserve le droit de suspendre temporairement ou de résilier définitivement le service d'hébergement et le nom de domaine associé au site internet du Client, après avoir accordé un délai supplémentaire raisonnable pour le paiement.
                Le Prestataire s'engage à effectuer le paiement du renouvellement du nom de domaine et de l'hébergement dans les délais requis, sous réserve de la réception en temps utile des fonds de la part du Client. Le Prestataire ne saurait être tenu responsable des interruptions de service ou de la perte de données résultant d'un retard de paiement de la part du Client.
                Les conditions et les coûts de renouvellement peuvent être sujets à modification. Le Prestataire s'engage à informer le Client de toute modification significative des coûts ou des conditions de renouvellement avec un préavis raisonnable, permettant ainsi au Client de prendre les dispositions nécessaires.
                Le présent article souligne l'importance de la coopération entre le Client et le Prestataire dans le processus de renouvellement du nom de domaine
                et de l'hébergement, afin de garantir une gestion efficace et sans interruption de la présence en ligne du Client.
            </p>
        </div>
    </section>
{% endblock %}