{% extends 'base.html.twig' %}

{% block title %} Mentions légales{% endblock %}

{% block body %}

    <nav class="mx-[5%] md:mx-[5%] my-5 flex justify-between items-center">
        <h1 class="text-6xl underline">Mentions Légales</h1>
        <a href="{{path('app_main')}}" class="link-menu flex">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-1 mb-1">
                <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
            </svg>
            Retour à l'accueil
        </a>
    </nav>
    <section class="m-[5%] md:mx-[5%] md:my-[2%] border p-5 h-[48rem] overflow-auto">
        <div class="my-5">
            <h2 class="text-2xl font-semibold">Éditrice du site</h2>
            <ul>
                <!-- TODO -->
                <li>Nom : Lisa Muller</li>
                <li>Adresse : [Votre adresse]</li>
                <li>Téléphone : [Votre numéro de téléphone]</li>
                <li>E-mail : lisavizuals@gmail.com</li>
                <li>SIRET : [Votre numéro SIRET]</li>
                <!-- TODO -->
            </ul>
        </div>

        <div class="my-5">
            <h2 class="text-2xl font-semibold">Directrice de la publication</h2>
            <h3 class="text-xl font-medium">Lisa Muller</h3>
        </div>

        <div class="my-5">
            <h2 class="text-2xl font-semibold">Hébergement</h2>
            <div>
                <p>Nom de l'hébergeur : OVH</p>
                <p>Adresse : 2 rue Kellermann, 59100 Roubaix</p>
            </div>
        </div>

        <div class="my-5">
            <h2 class="text-2xl font-semibold">Propriété intellectuelle</h2>
            <p>
                Le contenu du site internet (textes, images, vidéos, etc.) est la propriété exclusive de Lisa Muller. 
                Toute reproduction ou représentation totale ou partielle de ce contenu est interdite sans l'autorisation expresse de Lisa Muller.
            </p>
        </div>

        <div class="my-5">
            <h2 class="text-2xl font-semibold">Protection des données personnelles</h2>
            <p>
                Les données personnelles collectées sur ce site sont utilisées uniquement dans le cadre des services proposés par Lisa Muller. 
                Conformément à la loi "Informatique et Libertés", vous disposez d'un droit d'accès, de rectification et de suppression des données vous concernant. 
                Pour exercer ce droit, veuillez contacter Lisa Muller à l'adresse e-mail indiquée ci-dessus.
            </p>
        </div>

        <div>
            <h2 class="text-2xl font-semibold">Cookies</h2>
            <p>
                Ce site utilise des cookies pour améliorer l'expérience utilisateur et analyser le trafic. 
                En continuant à naviguer sur ce site, vous acceptez l'utilisation de cookies.
            </p>
        </div>

        <div class="my-5">
            <h2 class="text-2xl font-semibold">Liens externes</h2>
            <p>
                Ce site peut contenir des liens vers des sites externes sur lesquels Lisa Muller n'exerce aucun contrôle. 
                Elle décline donc toute responsabilité quant au contenu de ces sites.
            </p>
        </div>

        <div class="my-5">
            <h2 class="text-2xl font-semibold">Responsabilité</h2>
            <p>
                Lisa Muller ne peut être tenue responsable des dommages directs ou indirects résultant de l'utilisation de ce site ou des informations qui y sont contenues.
            </p>
        </div>

        <div class="my-5">
            <h2 class="text-2xl font-semibold">Droit applicable et juridiction compétente</h2>
            <p>
                Les présentes mentions légales sont régies par le droit applicable en France. 
                Tout litige relatif à leur interprétation ou à leur exécution relève de la compétence exclusive des tribunaux français.
            </p>
        </div>
    </section>
    
{% endblock %}