{% extends 'base.html.twig' %}

{% block title %} Mentions légales{% endblock %}

{% block body %}

    <h1>Mentions Légales</h1>

    <div>
        <h2>Éditeur du site</h2>
        <div>
            <p>Nom : Lisa Muller</p>
            <p>Adresse : [Votre adresse]</p>
            <p>Téléphone : [Votre numéro de téléphone]</p>
            <p>E-mail : [Votre adresse e-mail]</p>
            <p>SIRET : [Votre numéro SIRET]</p>
        </div>
    </div>

    <div>
        <h2>Directeur de la publication</h2>
        <h3>Lisa Muller</h3>
    </div>

    <div>
        <h2>Hébergement</h2>
        <div>
            <p>Nom de l'hébergeur : [Nom de l'hébergeur]</p>
            <p>Adresse : [Adresse de l'hébergeur]</p>
            <p>Téléphone : [Numéro de téléphone de l'hébergeur]</p>
            <p>E-mail : [Adresse e-mail de l'hébergeur]</p>
        </div>
    </div>

    <div>
        <h2>Propriété intellectuelle</h2>
        <p>
            Le contenu du site internet (textes, images, vidéos, etc.) est la propriété exclusive de Lisa Muller. 
            Toute reproduction ou représentation totale ou partielle de ce contenu est interdite sans l'autorisation expresse de Lisa Muller.
        </p>
    </div>

    <div>
        <h2>Protection des données personnelles</h2>
        <p>
            Les données personnelles collectées sur ce site sont utilisées uniquement dans le cadre des services proposés par Lisa Muller. 
            Conformément à la loi "Informatique et Libertés", vous disposez d'un droit d'accès, de rectification et de suppression des données vous concernant. 
            Pour exercer ce droit, veuillez contacter Lisa Muller à l'adresse e-mail indiquée ci-dessus.
        </p>
    </div>

    <div>
        <h2>Cookies</h2>
        <p>
            Ce site utilise des cookies pour améliorer l'expérience utilisateur et analyser le trafic. 
            En continuant à naviguer sur ce site, vous acceptez l'utilisation de cookies.
        </p>
    </div>

    <div>
        <h2>Liens externes</h2>
        <p>
            Ce site peut contenir des liens vers des sites externes sur lesquels Lisa Muller n'exerce aucun contrôle. 
            Elle décline donc toute responsabilité quant au contenu de ces sites.
        </p>
    </div>

    <div>
        <h2>Responsabilité</h2>
        <p>
            Lisa Muller ne peut être tenue responsable des dommages directs ou indirects résultant de l'utilisation de ce site ou des informations qui y sont contenues.
        </p>
    </div>

    <div>
        <h2>Droit applicable et juridiction compétente</h2>
        <p>
            Les présentes mentions légales sont régies par le droit applicable en France. 
            Tout litige relatif à leur interprétation ou à leur exécution relève de la compétence exclusive des tribunaux français.
        </p>
    </div>

{% endblock %}