@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Playfair+Display&display=swap');

body {
    background-color: #121212;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

h1, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

.marquee-rtl {
    max-width: 100%;                      /* largeur de la fenêtre */
    overflow: hidden;         
}

.marquee-rtl > :first-child {
    display: inline-block;                /* modèle de boîte en ligne */
    padding-left: 100%;                   /* placement à gauche du conteneur */
    white-space: nowrap;                  /* pas de passage à la ligne */
    animation: defilement-rtl 20s infinite linear;
  }

@keyframes defilement-rtl {
    0% {
        transform: translate3d(-100%,0,0);
    }
    100% {
        transform: translate3d(0%,0,0);
    }
}

.clip-zone {
    width: 647px;
    height: 400px;
    overflow: hidden;
    -webkit-box-shadow: -10px 20px 0px 9px #FFFFFF; 
    box-shadow: -10px 20px 0px 9px #FFFFFF;
}

.prestation-class {
    width: 25%;
    margin-right: 8%;
}

.clipped {
    margin: -50% 0px 0px 0px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.container {
    position: relative;
    margin: auto;
    cursor: pointer;
    margin: 1rem 0;
}

.overlay {
    width: 95%;
    height: 95%;
    position: absolute;
    top: 0;
    background: rgba(77, 77, 77, .9);
    opacity: 0;
    transition: all 0.5s;
}

.items {
    padding-left: 20px;
    letter-spacing: 3px;
}

.head {
    font-size: 30px;
    line-height: 40px;
    position: relative;
    top: 8.5rem;
    transform: translateY(40px);
    transition: all 0.7s;
}

.head > hr {
    display: block;
    width: 0;
    border: none;
    border-bottom: solid 2px white;
    position: absolute;
    bottom: 0; 
    left:20px;
    transition: all .5s;
}

.container:hover .overlay {
    opacity: 1;
  }

.container:hover .overlay .head {
    transform: translateY(0px);
  }
  
.container:hover .overlay hr {
    width: 75px;
    transition-delay: 0.4s;
  }
    
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 1 / 3 / 2; }
.div5 { grid-area: 2 / 2 / 3 / 3; }
.div6 { grid-area: 2 / 3 / 3 / 4; }

.projet-img {
    width: 95%;
    height: 95%;
}

#contact_message {
    height: 10rem;
    max-height: 15rem;
    min-height: 5rem;
}

.list-menu > li {
    margin: 0 0 5px;
}

.link-menu {
    text-decoration: none;
    position: relative;
}

.link-menu:after {    
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0;
  }

@media screen and (max-width: 640px) {
    .clip-zone {
        width: inherit;
        height: 320px;
        overflow: hidden;
        -webkit-box-shadow: -9px 10px 0px 1px #FFFFFF;
        box-shadow: -9px 10px 0px 1px #FFFFFF;
    }

    .prestation-class {
        width: inherit;
        margin-bottom: 10%;
        margin-top: 10%;
    }

    .overlay {
        width: 95%;
        height: 95%;
        position: absolute;
        top: 0;
        background: rgba(77, 77, 77, .9);
        opacity: 0;
        transition: all 0.5s;
    }

    .head {
        font-size: 10px;
        line-height: 20px;
        position: relative;
        top: 5rem;
        transform: translateY(40px);
        transition: all 0.7s;
    }

    .container-projet {
        overflow: overlay;
    }

    .parent {
        width: 500%;
        display: flex;
        overflow-x: auto;
    }

    .container {
        width: 3000px;
        white-space: nowrap;
    }
}